<div class="main">
    <div class="right">
        <h2>Log in to Snapchat</h2>
        <p>Chat, Snap, and video call your friends. Watch Stories <br>and Spotlight, all from your computer.</p>
        <label for="username">Username or email address</label><br>
        <input type="email"><br>
        <a href="">Use phone number instead</a>
        <button type="submit">Login</button>
        <p>or continue with downloading Snapchat WebApp</p>
        <img src="assets/images/microsoft.png" alt="">
        <p>looking for a app? get it here </p>

    </div>   
    <div class="left">
        <div class="image">
            <img src="assets/images/body.png" alt="">
            <img src="assets/images/2.jpg" alt="">
        </div>
    </div>
</div>